<h1>Sign in</h1>

<%= form_tag session_url, method: "post", class: "login-form p-05r" do %>
  <div class="field">
    <%= label_tag :username %>
    <%= text_field_tag :username, "", autocorrect: "off", autocapitalize: "off", spellcheck: false %>
  </div>

  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <div class="field">
    <%= check_box_tag :remember_me %>
    <%= label_tag :remember_me %>
  </div>

  <p>
    <%= button_tag "Submit", class: "btn btn--primary" %>
  </p>

  <p>
    New user? <%= link_to "Register", new_signup_url %>
  </p>
<% end %>
