<%= form_for(designation) do |f| %>
  <% if designation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(designation.errors.count, "error") %> prohibited this designation from being saved:</h2>

      <ul>
      <% designation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account_id %>
    <%= f.text_field :account_id %>
  </div>

  <div class="field">
    <%= f.label :bank_transaction_id %>
    <%= f.text_field :bank_transaction_id %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <div class="field">
    <%= f.label :envelope_id %>
    <%= f.text_field :envelope_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
