<div class="d-f@sm">
  <div class="f-1 mr-1r@sm dashboard-envelopes">
    <% @envelope_groups.each do |group| %>
      <div class="dashboard-envelopes-group">
        <div class="dashboard-envelopes-group-name" data-toggle-siblings>
          <%= group.name %>
        </div>
        <% group.envelopes.each do |envelope| %>
          <%= link_to envelope_path(envelope), class: "dashboard-envelopes-envelope" do %>
            <span class="dashboard-envelopes-envelope-name"><%= envelope.name %></span>

            <div class="dashboard-envelopes-envelope-amount">
              <% balance = Money.new(@envelope_balances[envelope.id] || 0) %>
              <span class="amount-<%= balance_class balance %>">
                <%= balance.format %>
              </span>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="d-n d-b@sm">
    <h3>Accounts</h3>
    <table>
      <% @bank_accounts.each do |bank_account| %>
        <tr>
          <td><%= bank_account.name %></td>
          <td><%= bank_account.balance.format %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
